/* 
Borrows code from:
Coloured Folders CSS snippet by Lithou
https://forum.obsidian.md/t/iterative-rainbow-folder-colors-css/21066/35

and 
sailKite's Rainbow Folder Titles CSS
source: https://discord.com/channels/686053708261228577/702656734631821413/1163095446919585843
*/


:root{
    /* Folder color variables */
  --Fold1: #FB4934;
  --Fold2: #d65d0d;
  --Fold3: #d79920;
  --Fold4: #98971a;
  --Fold5: #458588;
  --Fold6: #b16286;
  --Fold7: #689d6a;
}

/* Draws an SVG folder icon (from https://lucide.dev/) for each folder, it is set to inherit whatever color is being used for the folder name. */
.nav-folder:not(.mod-root) .nav-folder-title-content::before {
  display: inline-block;
  content: "";
  margin-right: .2em;
  vertical-align: text-bottom;
  height: 1.5em;
  width: 1.5em;
  background-color: currentColor;
}
.nav-folder:not(.mod-root):not(.is-collapsed) .nav-folder-title-content::before {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-folder-open'%3E%3Cpath d='m6 14 1.5-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.54 6a2 2 0 0 1-1.95 1.5H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H18a2 2 0 0 1 2 2v2'/%3E%3C/svg%3E") no-repeat;
}
.nav-folder:not(.mod-root).is-collapsed .nav-folder-title-content::before {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-folder-closed'%3E%3Cpath d='M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z'/%3E%3Cpath d='M2 10h20'/%3E%3C/svg%3E") no-repeat;
}


/* Shifts file explorer content left */
.nav-files-container {
  padding: 0;
}

/* Sets up all the variables for how folder titles are going to display.
.nav-folder-children etc. -> generally controls subfolders, anything not at the top level
.nav-files-container etc. -> generally controls top level folder behavior
*/     

.nav-folder-children > .nav-folder,
.nav-folder-children > .nav-folder .nav-folder-collapse-indicator,
.nav-files-container > div > .nav-folder .nav-folder-collapse-indicator,
.nav-files-container > div > .nav-folder .nav-folder-title:hover, /* Makes it so that folder colors do not change on hover */
.nav-files-container > div > .nav-folder {
  --nav-item-color: var(--folder-color);
  color: var(--folder-color); /* Needed for consistent folder colors when hover state is active  */
}

/* Styles folder names */
.nav-files-container > div > .nav-folder,
.nav-folder-children > .nav-folder  {
  letter-spacing: .1em;
	font-weight: 500;
  font-variant: small-caps;
  margin-top: .1em; /* space between top level sections */
  border-bottom: .1em solid;
  border-radius: 0;
  opacity: .7;
}

.nav-folder-children > .nav-folder {
  opacity: .9; /* opacity gets progressively worse in subfolders when it's the same value as top level folders */
}

/* Properties for regular file names, uses variables from my current theme settings */
.nav-folder-children > .nav-folder .nav-file-title,
.nav-files-container > div > .nav-folder .nav-file-title {
color: var(--tx1);
font-variant: none;
font-weight: var(--normal-weight);
font-size: var(--font-text-size);
}

/* changes collapse icon color */
.workspace-leaf-content .collapse-icon svg.svg-icon {
  color: var(--file-color-color);
}

/* Folder Title Color Sequence
Note that the first iteration of the first color(n+1) listed will always be skipped, so the second color(n+2) in your sequence will 
actually display first, and the first color in the sequence will be the last.
*/    

.nav-folder-children > .nav-folder:nth-child(7n + 1),
.nav-files-container > div > .nav-folder:nth-child(7n + 1) {
  --folder-color: var(--Fold7);
}
.nav-folder-children > .nav-folder:nth-child(7n + 2),
.nav-files-container > div > .nav-folder:nth-child(7n + 2) {
  --folder-color: var(--Fold1);
}
.nav-folder-children > .nav-folder:nth-child(7n + 3),
.nav-files-container > div > .nav-folder:nth-child(7n + 3) {
  --folder-color: var(--Fold2);
}
.nav-folder-children > .nav-folder:nth-child(7n + 4),
.nav-files-container > div > .nav-folder:nth-child(7n + 4) {
  --folder-color: var(--Fold3);
}
.nav-folder-children > .nav-folder,
.nav-files-container > div > .nav-folder:nth-child(7n + 5) {
  --folder-color: var(--Fold4);
}
.nav-folder-children > .nav-folder:nth-child(7n + 5),
.nav-files-container > div > .nav-folder:nth-child(7n + 6) {
  --folder-color: var(--Fold5);
}
.nav-folder-children > .nav-folder:nth-child(7n + 6),
.nav-files-container > div > .nav-folder:nth-child(7n + 7) {
  --folder-color: var(--Fold6);
}


/* Miscellaneous sidebar stylings */

/* Sidebar icons */
.nav-buttons-container {
  display: flex;
  justify-content: center;
}
.nav-buttons-container svg {
  width: 1.5em;
  height: 1.25em;
}
.nav-buttons-container .clickable-icon:nth-child(1) {
  color: var(--color-green);
}
.nav-buttons-container .clickable-icon:nth-child(2) {
  color: var(--color-cyan);
}
.nav-buttons-container .clickable-icon:nth-child(3) {
  color: var(--color-orange);
}
.nav-buttons-container .clickable-icon:nth-child(4) {
  color: var(--color-blue);
}

/* File folder, search, & pinned document icons on sidebar */
.workspace-tab-header-inner-icon {
  color: var(--color-yellow) !important;
}
/* collapse toggle on sidebars */
.sidebar-toggle-button > .clickable-icon {
  color: var(--color-cyan);
}


